html {
  padding-left: calc(100vw - 100%);
}

body {
  // font-family: "Ubuntu", sans-serif;
  // font-family: 'Satisfy', cursive;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Crimson Text', serif;
  // font-family: 'Cuprum', sans-serif;
  // font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'B612', sans-serif;
}

.badge {
  font-weight: 500;
}
